@font-face {
    font-family: "Klee One";
    font-weight: 400;
    src: url('../fonts/KleeOne-Regular.woff2') format('woff2'),
        url('../fonts/KleeOne-Regular.woff') format('woff');
}

@font-face {
    font-family: "Klee One SemiBold";
    font-weight: 600;
    src: url('../fonts/KleeOne-SemiBold.woff2') format('woff2'),
        url('../fonts/KleeOne-SemiBold.woff') format('woff');
}

html,
body {
    width: 250px;
    font-family: "Klee One";
    background-color: #1b1b1b;
    color: #e5e5ea;
}

.hidden {
    display: none;
}

button {
    border: none;
    width: 100%;
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #E5F2F2;
}

button:hover {
    background-color: #CFF2F2;
}

button[type="reset"] {
    background-color: #FBFBC9;
}

button[type="reset"]:hover {
    background-color: #EAEA9D;
}